includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/calebdw/larastan-livewire/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    level: max

    paths:
        - app/
        - bootstrap/app.php
        - bootstrap/providers.php
        - config/
        - database/
        - routes/
        - resources/views/

    excludePaths:
        analyse:
            - resources/views/*.blade.php # fnmatch: also matches nested folders
